<h1>Deaf Granny</h1>
<p> Hello Sonny, or is that you, Deary?  I just can't see without my glasses, but...</p>
<p> Say something to Granny!</p>
<form action="/you_said" method="post" accept-charset="utf-8">
  <input type="text" name="sonny_says" value="Type a something..." id="sonny_says">
  <input type="submit" value="response">
</form>

