<h1>Deaf Granny</h1>
<p> Say something to Granny!</p>
<form action="/you_said" method="post" accept-charset="utf-8">
  <input type="text" name="str" value="Type a something..." id="str">
  <input type="submit" value="response">
</form>

