<!DOCTYPE html>
<html>
  <head>
    <title>Deaf Granny</title>
    <link rel='stylesheet' type='text/css' href='deaf_granny.css' />
  </head>
  <body>

    <h1>Deaf Granny</h1>
    <div>
      <p> <%= yield %> </p>
    </div>

    <div class="footer">
      <p> <%= "Copyright 2009 - #{Time.now.year}" %> </p>
    </div>

  </body>

</html>

