# Minitest Reporters Selection
# Reporter choices are case sensitive!
# uncommet the one you wish to use

Option = {
# report_style: "Default",
  report_style: "Spec",
# report_style: "Progress",
# report_style: "Guard",
# report_style: "RubyMine",
# report_style: "RubyMate",
}

